{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}



{# Loop #}
    {% for record in data %}
	<div class="col-md-6 p-5" style="background-color: #fff">

	<div class="row" style="min-height: 400px">
		<div class="col-md-12" style="background-image: url('assets/img/gerechten/{{record.gerecht.afbeelding}}'); width:100%; background-repeat: no-repeat"></div>	
	</div>

		<h2 style="color: #6e8722;"> {{ record.gerecht.titel }} </h2>
		<p> {{ record.gerecht.korte_omschrijving }} </p>

		<button type="button" class="btn btn-danger"><h6>Smullen!</h6></a></button>
		<i class="fas fa-user-friends" style="color:red;"></i>

	

            {# sub-loop #}
            
                <!--{% for ingr in record.ingredienten %}
                    
                {% endfor %}-->

	</div>
        
    {% endfor %}
	

     <!-- {# Dump #}
       <pre>
        {{ dump(data) }}
       </pre> -->

{% endblock %}
